@import "./global/var.scss";
@import "./global/mixins.scss";

// 檢視文件
#content.page.view {
  @include setFontSizeBase();
}

// 側邊欄
.acs-side-bar {
  @include setFontSizeBase();

  // 空間名稱
  .space-information-container {
    & > .name {
      padding-right: 18px;
      & > a {
        font-size: 24px;
      }
    }
    & .favourite-space-icon > .space-favourite {
      transform: scale(1.5);
      right: 20px;
    }
  }

  // 分類小標
  .ia-quick-links-header-title,
  .ia-secondary-header-title {
    @include setFontSizeBaseSubTitle();
  }

  // 超連結連結
  .acs-nav-sections {
    .acs-nav-list > .acs-nav-item {
      margin-bottom: 5px;
      & .acs-nav-item-link {
        min-height: 38px;
        display: flex !important;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
        & > span.icon {
          transform: scale(1.2);
        }
      }
    }
  }

  // 側邊欄 page tree
  ul.plugin_pagetree_children_list > li {
    position: relative;
    margin-left: 5px;
    // 前綴圖示
    & .plugin_pagetree_childtoggle_container {
      position: absolute !important;
      top: 0;
      left: 0;
      & > .no-children.icon,
      & > a.aui-icon {
        position: absolute;
        transform: translate(-50%, -50%) scale(1.2);
        top: 50%;
        left: 50%;
        margin: 0;
        &::before {
          margin: 0;
        }
      }
    }
    // 頁面名稱
    & .plugin_pagetree_children_span {
      margin-left: 28px;
      & > a {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.lyc-cf-tooltip {
  position: fixed;
  z-index: 1000;
  padding: 5px 10px;
  color: #fff;
  background-color: $color-tooltip;
  border-radius: 4px;
  @include setFontSizeBase();
  min-height: 38px;
  padding: 5px 8px;
  box-sizing: border-box;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &:before {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $color-tooltip;
  }

  &__refresh {
    position: absolute;
    background-color: $color-tooltip;
    z-index: 1000;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    border-radius: 0px;
    left: 0px;
    bottom: 50vh;
    width: 10px;
    height: 36px;
  }
}
