@import "./global/_var.scss";
@import "./global/_mixins.scss";

div,
span {
  @include setFontSizeBase();
}

// Dashboard 標題
.dashboard-item-header {
  & > h2 {
    font-size: $fz-base !important;
    font-weight: normal !important;
  }
}

.layout.column {
  width: 25%;
  &.second {
    width: 50%;
  }
}

#gadget-30716-renderbox {
  left: 25%;
  width: 50%;
}
